header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: dodgerBlue;
  color: white;
  height: 60px;
}

.header-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo, .chat-intro-logo {
  background: gold;
  border-radius: 25px;
  height: 50px;
  margin-right: 25px;
  flex-flow: nowrap;
}

.header-logo-name, .chat-intro-logo-name {
  color: green;
  font-weight: bold;
}

.header-title {
  margin-bottom: 5px;
}

.header-subtitle {
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: small;
}

.login-main, .register-main {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-input-text {
  margin-top: 2px;
  margin-bottom: 2px;
}

.login-buttons {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.login-div-error, .register-div-error {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form-input-text {
  margin-bottom: 5px;
}

.register-form-div-btn {
  align-items: center;
}

.register-form-div-btn {
  margin-top: 15px;
}

.transition-main {
  padding-top: 80px;
  text-align: center;
}

.chat-main {
  padding-top: 100px;
  padding-bottom: 60px;
}

.chat-footer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background: white;
  border-top-color: black;
  border-top-width: 1px;
  border-top-style: solid;
  width: 100%;
}

.chat-footer-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.msg-user {
  color: white;
  background-color: blue;
  margin: 15px;
  border-radius: 30px;
  width: fit-content;
  margin-left: auto;
}

.msg-simple-text {
  padding: 10px;
}

.msg-boot {
  background-color: rgb(187, 183, 183);
  margin: 15px;
  border-radius: 20px;
  width: fit-content;
  margin-right: auto;
}

.msg-boot-btn-options {
  padding: 5px;
  background: none;
	border-style: none;
  font-size: medium;
	font-weight: bolder;
  width: 100%;
  text-align: left;
}

.msg-boot-text-options {
  padding: 10px;
  list-style-type: none;
}

.chat-intro {
  width: 100%;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.chat-intro-title {
  margin-bottom: 2px;
  margin-top: 2px;
}

.chat-intro-header-subtitle {
  margin-top: 5px;
  font-size: small;
}

.chat-intro-header-subtitle-bellow {
  margin-top: 5px;
  font-size: small;
  color: gray;
}

.header-btn-goBack, .header-btn-logout {
  padding: 5px;
  color: white;
  background: none;
	border-style: none;
  border:1px solid white;
  font-size: x-small;
	font-weight: bolder;
  width: 100%;
  text-align: left;
}